@import '~common/scss/variable';
@import '~common/scss/mixin';

.playList {
    &-header {
        display: flex;
        align-items: center;
        padding: .5rem 1.5rem 1.5rem 0;

        .icon {
            margin-right: 1rem;
            font-size: 3rem;
            color: $color-theme-d;
        }

        .text {
            flex: 1;
            text-align: left;
            font-size: $font-size-medium;
            color: $color-text-l;
        }

        .clear {
            @extend %extend-click;

            .icon-clear {
                font-size: $font-size-medium;
                color: $color-text-d;
            }
        }
    }

    &-content {
        max-height: 24rem;
        overflow: hidden;

        &-item {
            display: flex;
            align-items: center;
            height: 4rem;
            padding: 0 1.5rem 0 .5rem;
            overflow: hidden;

            .songname {
                flex: 1;
                @extend %no-wrap;
                font-size: $font-size-medium;
                color: $color-text-d;
                text-align: left;
                margin-left: .5rem;
            }

            .current-icon {
                width: 2rem;
                font-size: $font-size-small;
                text-align: left;
                color: $color-theme;
            }
            
            .current-song {
                color: $color-theme;
            }

            .like {
                @extend %extend-click;
                margin-right: 1.5rem;
                font-size: $font-size-small;
                color: $color-theme;

                .icon-favorite {
                    color: $color-sub-theme;
                }
            }

            .delete {
                @extend %extend-click;
                font-size: $font-size-small;
                color: $color-theme;
            }
        }
    }

    &-operate {
        width: 14rem;
        margin: 2.5rem auto 1rem;

        .add {
            display: flex;
            align-items: center;
            padding: .8rem 1.6rem;
            border: 1px solid $color-text-l;
            border-radius: 10rem;
            color: $color-text-l;

            .icon-add {
                margin-right: .5rem;
                font-size: $font-size-small-s;
            }

            .text {
                font-size: $font-size-small;
                line-height: 1;
            }
        }
    }
}